/*font*/

.font-12{
    font-size:12px;
}

.txt-header-body{
    font-size: 16px !important;
}

.txt-subheader{
    font-size:12px;
}

.center-logo{
    left: 0% !important;
}

.container-header-desktop{
    display: none;
}
.container-header-mobile{
    display: block;
}

.border-black-100{
    border-bottom: 1px solid #333333;
}

.border-white-100{
    border-bottom: 1px solid white;
}


.let-spa-1{
    letter-spacing: 1px;
}

.let-spa-2{
    letter-spacing: 2px;
}

.let-spa-5{
    letter-spacing: 5px;
}

.let-spa-7{
    letter-spacing: 7px;
}

.let-spa-8{
    letter-spacing: 8px;
}

.let-spa-9{
    letter-spacing: 9px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 40% !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 40% !important;
 }

.box-accor{
    position: relative;
    -index: 999999;
    background-color: white;
    top:-43px;
    padding-bottom: 20px;
}


.pl-5-c{
    padding-left: 6rem !important;
}
.disclaimer{
    color: gray;
    font-size: 11px;
    /* padding-right: 35px; */
    line-height: 1.8em;
    margin-top: -30%;
}
.disclaimer-1{
    color:gray;
    font-size:8px;
    /*padding-right:35px;*/
    line-height: 1.8em;
}
.space-foot{
    margin-left: 60px;
    margin-top: 30px;
}

.header-footer{
    font-size:15px;
    font-weight:bold;
}
.txt-body{
    font-size: 13px !important;
    line-height: 1.8em;
}
.txt-body2{
    font-size: 12px !important;
    line-height: 1.8em;
}
.txt-body-f11{
    font-size: 11px !important;
    line-height: 1.8em;
}
.txt-subheader{
    font-size:14px;
}

.gold{
    color: #d1ac60 !important;
}

.white{
    color: #fff;
}

.bg-custom-dark{
    background-color: #666666;
}

.bg-custom-darker{
    background-color: #292929;
}

.wrap-header-mobile{
    background-color: black !important;
}

.bottom-line-white{
    border-bottom: 1px solid #ffffff;
}

.custom-font-1{
    font-family: 'atsackersgothicregular', sans-serif !important;
}

.custom-font-2{
    font-family: 'chapazaregular', sans-serif !important;
}

.menu-font-style{
    font-size: 12px !important;
    font-weight: bold;
    color: #000 !important;
}

#header-sticky .wrap-menu-desktop{
    top: 0 !important;
}

#header-sticky{
    height: 100px;
}

#header-sticky .fix-menu-desktop{
    height: 100px;
}

.main-menu .sub-menu .disabled-link{
    color: #26866 !important;
}

.menu-desktop .main-menu .sub-menu li {
    background-color: #000;
    border-bottom: 1px solid #000;
}

.menu-desktop .main-menu .sub-menu li a {
    color: #fff;
}

.menu-desktop .main-menu > li:hover > a {
    text-decoration: none;
    color: #fff;
}

.menu-desktop .sub-menu li:hover {
    background-color: #000;
}

#back-navigation{
    width: 175px;
}

.back-font{
    font-size: 10px;
}

@media (max-width: 576px) {
    .box-accor{
        position: relative;
        -index: 999999;
        background-color: white;
        top:-33px;
        padding-bottom: 10px;
    }
    /* Footer */
    .mobile-center{
        text-align: center !important;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }
}

@media (min-width: 576px) {

    .hamburger{
        position: absolute;
    }

    .txt-header-body{
        font-size: 24px !important;
    }

    .center-logo{
        left: 57% !important;
    }
    .txt-subheader{
        font-size:18px;
    }
    .txt-subheader-2{
        font-size:14px;
    }
    .border-black-100{
        border-bottom: 1px solid #333333;
    }

    .border-white-100{
        border-bottom: 1px solid white;
    }

    .disclaimer-1{
        color:gray;
        font-size:11px;
        /*padding-right:35px;*/
        line-height: 1.8em;
    }
    .menu-mobile .main-menu{
        padding-left: 50px;
    }
    .txt-header{
        font-size: 30px;
    }
    .wrap-header-mobile{
        height:100px;
    }
}

@media (max-width: 768px) {


    /* Footer */
    .mobile-center{
        text-align: center !important;;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }
}

@media (max-width: 992px) {
}

@media (min-width: 1024px) {
    #back-navigation{
        width: 350px;
    }
}

@media (min-width: 1200px) {
}

@font-face {
    font-family: 'atsackersgothicregular';
    src: url('../../fonts/at_sackers_gothic_medium-webfont.woff2') format('woff2'),
    url('../../fonts/at_sackers_gothic_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chapazaregular';
    src: url('../../fonts/chapaza-webfont.woff2') format('woff2'),
    url('../../fonts/chapaza-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_caslon_textregular';
    /*src: url('../../fonts/librecaslon/librecaslontext-regular-webfont.eot');*/
    src: url('../../fonts/librecaslon/librecaslontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/librecaslon/librecaslontext-regular-webfont.woff2') format('woff2'),
    url('../../fonts/librecaslon/librecaslontext-regular-webfont.woff') format('woff'),
    url('../../fonts/librecaslon/librecaslontext-regular-webfont.ttf') format('truetype'),
    url('../../fonts/librecaslon/librecaslontext-regular-webfont.svg#libre_caslon_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    /*src: url('../../fonts/montserrat/montserrat-regular-webfont.eot');*/
    src: url('../../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
    url('../../fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
    url('../../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
